//Kleurenpallet

$hoofdkleur: white;
$accentkleur: #96b5dc;
$accent: #758db9;
$donkeraccent: #214b7d;
$donkertransparant: rgba(33,75,125,.75);
$tekstkleur: #434343;
$achtergrondkleur: grey;
$paginakleur: #EEEEEE;
$rodekleur: #c63a25;
$basiskleur: black;

// Fonts

$hoofdfont: Montserrat;

//Schermbreedtes

$smal-scherm: 480px;
$medium-scherm: 640px;
$breed-scherm: 1000px;
